{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      <article class="post">
        <div class="title">
          <a href="/post/{{id}}"><h2>{{title}}</h2></a>
        </div>
        <div class="meta">
          <strong>Posted by {{user.username}} on {{format_date created_at}}</strong>
        </div>
      </article>
        <a href="/dasboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
    </li>
    {{/each}}
  </ol>
</section>